:root {
  --width: 1000px;
  --height: 650px;
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 32px;
  --text-color: #333;
  --button-bg-color: #ff9900;
  --button-text-color: #fff;
  --button-hover-bg-color: #ffa07a;
}

#main {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  width: var(--width);
  height: var(--height);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  margin-bottom: 40px;
}

#display {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: var(--width);
}

#score,
#info {
  width: 200px;
  text-align: center;
  color: var(--text-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 12px 25px;
  border: 2;
  border-radius: 5px;
  cursor: pointer;
}
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 12px 25px;
  border: 2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
button:hover {
  background-color: var(--button-hover-bg-color);
}

button:active {
  transform: translateY(2px);
}
